.ariaTextArea:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  position: relative;
  box-shadow: inset 0px 0px 0px 1px var(--token-RhFiqesyBm8v);
  font-size: var(--token-PXy5HiVRbq-t);
  line-height: var(--token-ml2sqzja71Qc);
  width: 100%;
  color: var(--token-XfiB828lRrFq);
  font-family: var(--token-cA99596rdbui);
  min-width: 0;
  border-radius: var(--token-Q8tvGz8J7GbZ);
  padding: var(--token-Q8tvGz8J7GbZ) var(--token-6v9mnfvfcj8s);
  border-style: none;
}
.ariaTextArea[data-focused]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-eU_ZddztoHSL);
  outline-offset: 1px;
}
.ariaTextArea[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaTextAreatype_soft:global(.__wab_instance) {
  background: var(--token-s1L1Juardlo2);
  box-shadow: none;
}
.ariaTextAreatype_soft[data-hovered]:global(.__wab_instance) {
  background: var(--token-wrKnYSwmxZpS);
}
.ariaTextAreatype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaTextAreatype_plain[data-hovered]:global(.__wab_instance) {
  background: var(--token-s1L1Juardlo2);
}
.ariaTextAreaflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaTextAreaflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaTextAreapadded_left:global(.__wab_instance) {
  padding-left: var(--token-1K1mE-M9jDR0);
}
.ariaTextAreapadded_right:global(.__wab_instance) {
  padding-right: var(--token-1K1mE-M9jDR0);
}
