.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-eU_ZddztoHSL);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-K3ZdLkQi-kU7);
  font-family: var(--token-cA99596rdbui);
  font-size: var(--token-PXy5HiVRbq-t);
  line-height: var(--token-ml2sqzja71Qc);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-Q8tvGz8J7GbZ);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-JiMzWtKPIxGh);
  outline-offset: 1px;
  outline-color: var(--token-eU_ZddztoHSL);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-pA8BJjm--jyD);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-41d0jdfNo8sB);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-CfzjypnkdH1c);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-E3KPblL95qOH);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-V2puyrSFYReA);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-zEUDq3mmGyit);
  font-size: var(--token-Ik1ZRIdr93E-);
  column-gap: var(--token-JiMzWtKPIxGh);
  row-gap: 0px;
  border-radius: var(--token-0jApGicvJtJp);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-Ik1ZRIdr93E-);
  line-height: var(--token-zEUDq3mmGyit);
  column-gap: var(--token-0jApGicvJtJp);
  row-gap: 0px;
  border-radius: var(--token-0jApGicvJtJp);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-qGi64GHrNYAe);
  line-height: var(--token-adRR_0q1Y_EW);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-qGi64GHrNYAe);
  line-height: var(--token-adRR_0q1Y_EW);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-v2iT6RyblFfc);
  border-radius: var(--token-Q8tvGz8J7GbZ);
}
.softBackgroundcolor_neutral {
  background: var(--token-GDxHxqZW4Tu1);
}
.softBackgroundcolor_muted {
  background: var(--token-s1L1Juardlo2);
}
.softBackgroundcolor_success {
  background: var(--token-y3BNe5dexT5N);
}
.softBackgroundcolor_warning {
  background: var(--token-UwVJHBTLHZGZ);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-oktWBxfW9uoa);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-Q8tvGz8J7GbZ);
  border: 0px solid var(--token-IaVBjZUChA5W);
}
.bordercolor_neutral {
  border-color: var(--token-rVSTDNX9OJnh);
}
.bordercolor_muted {
  border-color: var(--token-Hk5YD6kO1PRl);
}
.bordercolor_success {
  border-color: var(--token-I0QuVU-5F4J8);
}
.bordercolor_warning {
  border-color: var(--token-QblNnCF5wMSO);
}
.bordercolor_errorDestructive {
  border-color: var(--token-djBGnPJOuLTY);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-Q8tvGz8J7GbZ);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-dZqMxkaQqKyn);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-btnhgmX5_zJT);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-M3uILwmZtxWJ);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__lnDen {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-Q8tvGz8J7GbZ) var(--token-6v9mnfvfcj8s);
}
.freeBox__lnDen > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-Q8tvGz8J7GbZ));
  width: calc(100% + var(--token-Q8tvGz8J7GbZ));
}
.freeBox__lnDen > :global(.__wab_flex-container) > *,
.freeBox__lnDen > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lnDen > :global(.__wab_flex-container) > picture > img,
.freeBox__lnDen
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Q8tvGz8J7GbZ);
}
.freeBoxsize_extraSmall__lnDenhytd6 {
  padding: var(--token-0jApGicvJtJp) var(--token-Q8tvGz8J7GbZ);
}
.freeBoxsize_small__lnDenRyLrG {
  padding: var(--token-Q8tvGz8J7GbZ) var(--token-K3ZdLkQi-kU7);
}
.freeBoxsize_large__lnDenfxaPr {
  padding-top: var(--token-0jApGicvJtJp);
  padding-bottom: var(--token-0jApGicvJtJp);
}
.freeBoxsize_extraLarge__lnDenu047I {
  padding-left: var(--token-7CwR_S1uPzdn);
  padding-right: var(--token-7CwR_S1uPzdn);
}
.freeBoxroundedFull__lnDeNpLfgc {
  padding-right: var(--token-7CwR_S1uPzdn);
  padding-left: var(--token-7CwR_S1uPzdn);
}
.freeBox___3N1SV {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart___3N1SV72TjI {
  display: flex;
}
.slotTargetStart {
  color: var(--token-4tirGPLF5J6L);
}
.slotTargetStartcolor_neutral {
  color: var(--token-Y3z3vKnBFZ51);
}
.slotTargetStartcolor_muted {
  color: var(--token-PEEsJi21tvg6);
}
.slotTargetStartcolor_success {
  color: var(--token-e_Ca6nOvsQpB);
}
.slotTargetStartcolor_warning {
  color: var(--token-rl9hJM-RmH4K);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-Tj3g6ahfQwBL);
}
.slotTargetStarttype_soft {
  color: var(--token-ePSEhPU_O253);
}
.slotTargetStarttype_bordered {
  color: var(--token-ePSEhPU_O253);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-Ik1ZRIdr93E-);
}
.slotTargetStartsize_small {
  font-size: var(--token-Ik1ZRIdr93E-);
}
.slotTargetStartsize_large {
  font-size: var(--token-qGi64GHrNYAe);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-qGi64GHrNYAe);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-OkEzuAETmklk);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-OkEzuAETmklk);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-WIc1iB3EU7d-);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-WIc1iB3EU7d-);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-y_3ovsxFmXU8);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-y_3ovsxFmXU8);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-PU8IRnHbdp0H);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-PU8IRnHbdp0H);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-sX0FF7BO3s7V);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-sX0FF7BO3s7V);
}
.svg__mbhPz {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-4tirGPLF5J6L);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-Y3z3vKnBFZ51);
}
.slotTargetLabelcolor_muted {
  color: var(--token-PEEsJi21tvg6);
}
.slotTargetLabelcolor_success {
  color: var(--token-e_Ca6nOvsQpB);
}
.slotTargetLabelcolor_warning {
  color: var(--token-rl9hJM-RmH4K);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-Tj3g6ahfQwBL);
}
.slotTargetLabeltype_soft {
  color: var(--token-ePSEhPU_O253);
}
.slotTargetLabeltype_bordered {
  color: var(--token-ePSEhPU_O253);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-OkEzuAETmklk);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-WIc1iB3EU7d-);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-OkEzuAETmklk);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-y_3ovsxFmXU8);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-WIc1iB3EU7d-);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-PU8IRnHbdp0H);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-y_3ovsxFmXU8);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-sX0FF7BO3s7V);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-PU8IRnHbdp0H);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-sX0FF7BO3s7V);
}
.text__wOug {
  white-space: pre;
}
.freeBox__rxh00 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__rxh00764X9 {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-4tirGPLF5J6L);
}
.slotTargetEndcolor_neutral {
  color: var(--token-Y3z3vKnBFZ51);
}
.slotTargetEndcolor_muted {
  color: var(--token-PEEsJi21tvg6);
}
.slotTargetEndcolor_success {
  color: var(--token-e_Ca6nOvsQpB);
}
.slotTargetEndcolor_warning {
  color: var(--token-rl9hJM-RmH4K);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-Tj3g6ahfQwBL);
}
.slotTargetEndtype_soft {
  color: var(--token-ePSEhPU_O253);
}
.slotTargetEndtype_bordered {
  color: var(--token-ePSEhPU_O253);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-Ik1ZRIdr93E-);
}
.slotTargetEndsize_small {
  font-size: var(--token-Ik1ZRIdr93E-);
}
.slotTargetEndsize_large {
  font-size: var(--token-qGi64GHrNYAe);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-qGi64GHrNYAe);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-OkEzuAETmklk);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-OkEzuAETmklk);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-WIc1iB3EU7d-);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-WIc1iB3EU7d-);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-y_3ovsxFmXU8);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-y_3ovsxFmXU8);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-PU8IRnHbdp0H);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-PU8IRnHbdp0H);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-sX0FF7BO3s7V);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-sX0FF7BO3s7V);
}
.svg__dqS9P {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
