.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-tlwgu2nZoEvU);
  position: relative;
  min-width: 0;
  padding: 0px;
}
.footerTop {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  padding: 3.33em 15px 1.11em;
}
.container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1140px;
  padding: 0px;
}
.columns__qtXnf {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
  margin: 0px 0px 2.5em;
}
.columns__qtXnf > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__qtXnf > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__qtXnf > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__qtXnf {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin: 0px 0px 1.5em;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__qtXnf > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__t5Tg9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.column__t5Tg9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 17px);
  height: calc(100% + 17px);
}
.column__t5Tg9 > :global(.__wab_flex-container) > *,
.column__t5Tg9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__t5Tg9 > :global(.__wab_flex-container) > picture > img,
.column__t5Tg9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 17px;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 169px;
  height: 36px;
  align-self: flex-start;
  flex-shrink: 0;
}
.text__lIcx3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-TKeyGBZWPKWm);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .text__lIcx3 {
    margin-top: calc(0px + 17px) !important;
    margin-right: 0px;
    margin-bottom: 1.5em;
    margin-left: 0px;
  }
}
.column__wElwQ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  filter: blur(0px);
  border-left-style: solid;
  border-left-color: var(--token-TKeyGBZWPKWm);
  min-width: 0;
  padding: 0px 40px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__wElwQ {
    padding: 0px 8px;
  }
}
.h5___63Zd9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  font-size: 1.13em;
  color: #ebecf0;
  font-weight: 700;
  align-self: center;
  text-align: left;
  min-width: 0;
  margin: 0px 0px 1.2em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5___63Zd9 {
    margin: 0px 0px 15px;
  }
}
.link__wIghc {
  position: relative;
  color: var(--token-TKeyGBZWPKWm);
  font-size: var(--token-ItbCYwY8dXaQ);
  align-self: auto;
  text-align: center;
  margin: 0px 0px 0.75em;
}
.link___5VyO {
  position: relative;
  color: var(--token-TKeyGBZWPKWm);
  font-size: var(--token-ItbCYwY8dXaQ);
  align-self: auto;
  margin: 0px 0px 0.75em;
}
.link__lr8Mc {
  position: relative;
  color: var(--token-TKeyGBZWPKWm);
  font-size: var(--token-ItbCYwY8dXaQ);
  align-self: auto;
  margin: 0px 0px 0.75em;
}
.link___0F6KT {
  position: relative;
  color: var(--token-TKeyGBZWPKWm);
  font-size: var(--token-ItbCYwY8dXaQ);
  align-self: auto;
  margin: 0px 0px 0.75em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .link___0F6KT {
    margin: 0px 0px 1.5em;
  }
}
.link__eG6Io {
  position: relative;
  color: var(--token-TKeyGBZWPKWm);
  align-self: auto;
  margin: 0px 0px 0.75em;
}
.column__z08Sw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  border-left-style: solid;
  border-left-color: var(--token-TKeyGBZWPKWm);
  min-width: 0;
  padding: 0px 8px 0px 0px;
}
@media (min-width: 0px) and (max-width: 767px) {
  .column__z08Sw {
    padding: 0px 8px;
  }
}
.h5__q0EIg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  font-size: 1.13em;
  color: #ebecf0;
  font-weight: 700;
  padding-bottom: 0px;
  min-width: 0;
  margin: 0px 0px 1.2em;
}
@media (min-width: 0px) and (max-width: 767px) {
  .h5__q0EIg {
    margin: 0px 0px 15px;
  }
}
.columns___0Zbc5 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom-color: var(--token-TKeyGBZWPKWm);
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  border-style: solid;
}
.columns___0Zbc5 > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns___0Zbc5 > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns___0Zbc5 > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___0Zbc5 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___0Zbc5 > :nth-child(3n + 1) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___0Zbc5 > :nth-child(3n + 2) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns___0Zbc5 > :nth-child(3n + 3) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
.column__plcN9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__d8CoW {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__d8CoW > picture > img {
  object-fit: cover;
}
.column__jsMRg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__ybDhe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__ybDhe > picture > img {
  object-fit: cover;
}
.column___0CuNk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__hUh06 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__hUh06 > picture > img {
  object-fit: cover;
}
.columns__rWhcA {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom-color: var(--token-TKeyGBZWPKWm);
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  border-style: solid;
}
.columns__rWhcA > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__rWhcA > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__rWhcA > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__rWhcA {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__rWhcA > :nth-child(3n + 1) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__rWhcA > :nth-child(3n + 2) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns__rWhcA > :nth-child(3n + 3) {
    width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
  }
}
.column__eBvD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__wYZhc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__wYZhc > picture > img {
  object-fit: cover;
}
.column__lhAoe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__j119 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__j119 > picture > img {
  object-fit: cover;
}
.column___7Yki6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__o60Up {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__o60Up > picture > img {
  object-fit: cover;
}
.footerBottom {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0em 15px 25px;
  border-top: 1px solid #4c526766;
}
@media (min-width: 0px) and (max-width: 767px) {
  .footerBottom {
    padding: 0em 15px 2em;
  }
}
.container2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1140px;
  margin-top: 0px;
  padding: 0px;
}
.text__s2Ckq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-TKeyGBZWPKWm);
  font-size: var(--token-ItbCYwY8dXaQ);
  min-width: 0;
  margin: 1em 0px 0px;
}
