/* Header container */ 
.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 16px; 
  height: 50px;
  position: relative;
  padding: 6px 16px;
  background: #fff;
}

/* Logo ---------------------------------------------------*/
.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  gap: 5px; /* gap between logos */
} 

/* User & Planner button */
.link-container-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
/*-------------------------------------------------------------------------------*/
/* CAT logo--------------------------------------------- */
.center-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
/* ------------------------------------------------------ */ 
