.ariaTextField:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  min-width: 0;
  row-gap: var(--token-0jApGicvJtJp);
}
.ariaTextField[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.label:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox__mx1Yj {
  display: flex;
  flex-direction: column;
}
.freeBox__hzbzz {
  flex-direction: row;
  position: absolute;
  height: var(--token-1K1mE-M9jDR0);
  align-items: center;
  justify-content: center;
  z-index: 9;
  left: 0px;
  top: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-Q8tvGz8J7GbZ) var(--token-6v9mnfvfcj8s);
}
.freeBoxiconStart__hzbzzSOxeL {
  display: flex;
}
.slotTargetStart {
  color: var(--token-h_e0OYgpX1jU);
}
.svg__ovRnV {
  position: relative;
  height: 1em;
}
.textInputmultiLine:global(.__wab_instance):global(.__wab_instance) {
  display: none;
}
.textAreaInputmultiLine:global(.__wab_instance):global(.__wab_instance) {
  display: block;
}
.freeBox___2RlBb {
  height: var(--token-1K1mE-M9jDR0);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-Q8tvGz8J7GbZ) var(--token-6v9mnfvfcj8s);
}
.freeBoxiconEnd___2RlBbpM4Kn {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-h_e0OYgpX1jU);
}
.svg___9PrkI {
  position: relative;
  height: 1em;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
